streamlit
plotly
streamlit-autorefresh
pypdf
python-dotenv
pandas
scikit-learn
xgboost
langchain
langchain-groq
langgraph
guardrails-ai
chromadb
sentence-transformers
mcp
pydantic
python-dotenv
kaggle
